@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Tajawal');

/* Local Styles */
@import url('header.css');
@import url('navigation.css');
@import url('cover.css');
@import url('execom.css');

body{
    font-weight: 100;
    align-items: center;
    margin:0;
    font-family: 'Raleway', sans-serif;
}

/*===================== MAIN =====================*/
main
{
    color: #262626;
    display: inline-flex;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    padding: 0;
}

content{
    width: 80%;
}

content h1
{
    color:#f26522;/*orange*/
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
}

#username{
    text-transform: uppercase;
}

textarea:focus{
    outline-color: silver;
}

/*===================== END OF MAIN =====================*/
.elektrons_bg_color{
    background-color: #f26522;
}
.redbolts_bg_color{
    background-color: #CD0000;
}
.clovers_bg_color{
    background-color: #00C957;
}
.skimmers_bg_color{
    background-color: #9932CC;
}

.elektrons_font_color{
    color: #f26522;
}
.redbolts_font_color{
    color: #CD0000;
}
.clovers_font_color{
    color: #00C957;
}
.skimmers_font_color{
    color: #9932CC;
}

#elektrons_hover:hover{
    background-color: #F4A460;
}
#clovers_hover:hover{
    background-color: #BDFCC9;
}
#skimmers_hover:hover{
    background-color: #D8BFD8;
}
#redbolts_hover:hover{
    background-color: #FFC1C1;
}

/*===================== FOOTER =====================*/
#footer{
    width: 100%;
    background-color: black;
    padding-top: 0.5pt;
    padding-bottom: 0.5pt;
}

#footer p{
    color: white;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
}