/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 170px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(105,105,105,0.5);
}

/* Modal Content */
.modal-content {
    background: #E0E0E0;
    margin: auto;
    border: 1px solid #888;
    width: 25%;
    padding-bottom: 3%;
}

.change-pwd-heading{
    padding:15px;
    text-transform: uppercase;
    background: #474747;
    color: white;
    text-align: center;
    margin-bottom: 2%;
    font-family: Lato;
    font-size: 20px;
    letter-spacing: 3px;
    background: #5B5B5B;
    color: white;
}

.modal-content form{
   
}
.modal-content input[type=text]{
    background: #E0E0E0;
    border: none;
    border-bottom: 2px solid #333333;
    padding: 8px 14px;
    width: 80%;
    margin-bottom: 2%;
    margin-left: 6.5%;
}
.modal-content input[type=text]:focus{
    outline: none;
}
.modal-content input[type=submit]{
    margin-right: 20px;
    float: right;
    font-family: Lato;
    font-size: 17px;
    border: 1px solid #5B5B5B;
    border-radius: 8px;
    padding: 5px 10px;
    text-transform: uppercase;
    float: right;
    background: #5B5B5B;
    color: white;
}
.modal-content input[type=submit]:hover{
    background: #C1C1C1;
    border: 1px solid #C1C1C1;
    cursor: pointer;
}

::placeholder{
    text-transform: uppercase;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}