/*===================== COVER =====================*/

#cover{
    background-color: pink;
    width: 100%;
    display: inline-block;
    margin: 0;
}

/**UPDATE 0.1**/
/*#cover figcaption{
    font-size: 15px;
    letter-spacing: 0.5em;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 

    
}

#cover a{
    color: white;
    letter-spacing: 0.5em;
    font-size: 10px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;  
    margin-top: 1em;

}

#cover a:hover{
    color: rgba(17,17,17,50%);
}*/
/**END UPDATE 0.1**/

img{
    width: 100%;
    max-height: 250px;
    z-index: -1;
    display: block;
}

#edit-cover-div{
    display: none;
    width: 99%;
    text-align: right;
    position: absolute;
    top: 47%;
    padding-right: 10px;
    z-index: 0;
}

#edit-cover-div a{
    color: white;
}

#edit-cover-div i{
    padding: 0 4px;
}

img:hover{
    /* May ma-appear na edit button*/
}

/*#cover span{
    text-align: center;
    line-height: 22px;
    position: absolute;
    top: 33%;
    z-index: 0;
    letter-spacing: 2px;
    width: 100%;
}
*/
#cover span h3{
    margin: 0;
    font-size: 35px;
    letter-spacing: 5px;
}

/*===================== END OF COVER =====================*/