/*===================== ASIDE(execom) =====================*/

#execom{
    clear: left;

    width: 20%;
    text-align: center;
    color:  #f26522;/*orange*/
    /*border-right: 4px solid #f26522;*//*orange*/
    border-right-width: 4px;
    border-right-style: solid;

}

#execom h4
{   
    width: 100%;
    height: 60px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.3em;
    font-family: 'Rubik', sans-serif;
/*    border-bottom:4px solid #f26522;/*orange*/
    border-bottom-style: solid;
    border-bottom-width: 4px;
    line-height: 60px;
    text-align: center;
    margin: 0;
}

.elektrons_border_color{
    border-bottom-color: #f26522;
    border-right-color: #f26522;
}

.redbolts_border_color{
    border-bottom-color: #CD0000;
    border-right-color: #CD0000;
}

.clovers_border_color{
    border-bottom-color: #00C957;
    border-right-color: #00C957;
}

.skimmers_border_color{
    border-bottom-color: #9932CC;
    border-right-color: #9932CC;
}

aside#execom ul
{
     padding: 0;

}
aside#execom ul li 
{   

    height: 60px;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

aside#execom ul li label 
{ 
    font-weight: 700;
    color: #333333;
}

aside#execom ul li p{
    margin: 0;
    padding-bottom: 26px;
    padding-top: 5px;
}



.position
{
    font-size: 13px;
}

/*===================== END ASIDE(execom) =====================*/